.job{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    margin: 4em auto;
}

.job__categoria{
    font-size: 20px;
    color: var(--azul-escuro);
    margin-bottom: 2em;
    
}

.job__lista{
    border: 1px solid var(--cinza-claro);
    border-radius: 16px;
    padding: 1.5em;
    width: 70%;
    margin-bottom: 1.5em;
}

.job__cargo{
    font-size: 18px;
    color: var(--azul-escuro);
    font-weight: 500;
    margin-bottom: 2em;
}

.job__detalhe, .job__salario{
    font-size: 16px;
    color: var(--cinza);
}

.job__salario{
    margin-left: 1.5em;
}